
body {
    font-family: "Comic Sans MS", cursive; 
    text-align: center;
    background-color: #ffecb3; 
    margin: 0;
    padding: 0;
}


.container {
    max-width: 450px;
    margin: 60px auto; 
    padding: 95px;
    background-color: #fff;
    border-radius: 150px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}

h1 {
    color: #ff5733; 
    font-size: 36px;
    font-style: italic;
}


#nameForm {
    margin-top: 30px;
}

#name-label {
    font-weight: bold;
    font-size: 20px;
    color: #ff5733; 
    text-decoration: underline; 
}

#playerName {
    padding: 10px;
    font-size: 18px;
}

#game {
    margin-top: 30px;
    display: none;
}

#score {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    color: #ff5733; 
}

#choices {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 0px; 
}

button img {
    width: 120px;
    height: 120px;
    border: none; 
    margin: 10px; 
}


#result {
    margin-top: 30px;
    display: none;
}

#resultText {
    font-size: 28px;
    font-weight: bold;
    color: #ff5733; 
    text-decoration: underline; 
}

#playerChoice,
#computerChoice {
    margin-top: 20px;
    font-size: 20px;
    color: #ff5733; 
}

.high-score {
    margin-top: 30px;
}

#highScoreboard {
    background-color: #333;
    margin-top: -15px;
    color: #ff5733; 
    padding: 50px;
    border-radius: 90px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

#highScoreList {
    list-style-type: none;
    padding: 0;
}

#highScoreList li {
    margin: 15px 0;
    font-size: 15px;
    font-weight: bold;
}
